<!-- Creamos el componente "header" -->
<!-- titulo="Alert Page": De esta manera enviamos un string por el atributo "titulo" -->
<!-- [titulo]="variable": De esta manera enviamos una varible del archivo "alert.page.ts" por el atributo "titulo" -->
<app-header [titulo]="titulo || 'Alert Page'"></app-header>

<ion-content>
    <!-- (click)="presentActionSheet()": Evento que ejecutará la función que mostrará el "Action Sheet" -->
    <!-- expand="full": Indicamos que se expanda el ancho en toda la pantalla -->
    <!-- color="primary": Es un atributo de ionic donde ya contiene colores predeterminados -->
    <ion-button (click)="presentAlertConfirm()" expand="full" color="primary">
        Mostrar Alert
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="full" color="primary">
        Mostrar Alert con Input
    </ion-button>
</ion-content>
