<!-- menu: este componente muestra los menus lateral izquierdo y derecho si se lo configura -->
<!-- side="start": indicamos que el menú se mostrará del lado izquierdo -->
<!-- menuId="primerMenu": es obligario asignarle un ID al menu, por lo tanto lo definimos como "primerMenu" -->
<!-- contentId="principal": este atributo hace referencia al ID del componente padre, en este caso el componente padre -->
<!--                        es el "ion-router-outlet" del archivo "src/app/app.component.html" -->
<ion-menu side="start" 
          menuId="primerMenu" 
          contentId="principal">
  <!-- Encabezado del Menu -->
  <ion-header>
  <!-- Toolbar del Menu -->
    <ion-toolbar color="primary">
      <!-- Titulo del Encabezado del Menu -->
      <ion-title>Componentes</ion-title>
    </ion-toolbar>

  </ion-header>

  <!-- Contenido del Menu -->
  <ion-content>
      
      <ion-list>
        <!-- menu-toggle: este subcomponente del componente "menu" se utiliza para que cada vez que seleccionemos una opción, se oculte el Menu -->
        <!-- | async: Siempre se debe indicar esta pipe cuando el array es de tipo "Observable" -->
        <ion-menu-toggle *ngFor="let c of componentes | async">
          <ion-item [routerLink]="c.redirectTo">
            <ion-icon slot="start" [name]="c.icon"></ion-icon>
            <ion-label>{{ c.name }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    
  </ion-content>
</ion-menu>
